[submodule "dependency/asio"]
	path = dependency/asio
	url = http://source.corvusoft.co.uk/asio-dependency.git
[submodule "dependency/gtest"]
	path = dependency/gtest
	url = http://source.corvusoft.co.uk/gtest-dependency.git
[submodule "dependency/curl"]
	path = dependency/curl
	url = http://source.corvusoft.co.uk/libcurl-dependency.git
[submodule "dependency/framework"]
	path = dependency/framework
	url = http://source.corvusoft.co.uk/cpp-framework.git
