header {
	padding-top: 1.5%;	
}

header nav {
	width: 50%;	
	float: right;
	font-size: 13pt;
}

header nav a {
	float: right;	
	margin: 5% 0 0 5%;
	text-decoration:none;
	color: #6d6e70;
	padding-top: 5%;
}

header nav a:hover {
	color: rgb(0,151,156);	
}